[Desktop Entry]
Version=1.0
Type=Application
Name=DrPython
Exec=./drpython.run
Icon=/home/mx-linux/Документи/drpython/drpython.png

Comment=
Path=
Terminal=false
StartupNotify=false
